version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: telco_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    command: python app.py
    ports:
      - "5001:5000"
    environment:
      
      DATABASE_URL: mysql+pymysql://user:password@db:3306/telco_db
    depends_on:
      - db

volumes:
  mysql_data: